*{
    margin: 0%;
    padding: 0%;
    font-family:cursive;
    box-sizing: border-box;
}
.nav{
    background-color: red;
    height: 10vh;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.card{
    background-color: aqua;
   
}
.card a{
    text-decoration: none;
}